#extension-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#currency-from {
    margin-bottom: 10px;
}
#currency-to {
    margin-bottom: 10px;
}

